@import "./src/index";
.title{
  font-weight: 400;
  font-size: $title-font-size;
  color: $color3;
  text-shadow: $font-border;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  
  @media (max-width: 550px) {
    &{
      font-size: 40px;
    }
  }
}