@import "./src/index";
.product{
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 50px 50px 0;

  &-text{
    color: $color2;
    background: $background;
    border: 1px solid $color3;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &:nth-child(3n){
    margin: 0;
  }

  &-title{
    margin: 10px 0;
    font-weight: 700;
    color: $color3;
    text-shadow: $font-border;
    font-size: 50px;
    transition: all 0.5s ease;

    &:hover{
      transition: all 0.5s ease;
      color: $color3;
    }
  }

  &-description{
    font-weight: 400;
    color: $color3;
    text-shadow: $font-border;
    font-size: $font-size;
    margin: 0 0 10px 0;
  }

  &-price{
    color: $color3;
    text-shadow: $font-border;
    font-size: $font-size;
    margin: 0 10px 10px 0;
    font-weight: 400;
    text-transform: uppercase;
  }

  &-image{
    width: 398px;
    border-bottom: 1px solid #F2F0D5;
  }
}