.login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px 0;
  height: 70vh;
  &-title{
    font-weight: 400;
    font-size: 50px;
    color: #F2F0D5;
    text-transform: uppercase;
  }
  &-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 0 auto;
  }

  &-input{

    &-file{
      display: none;
      &-label{
        cursor: pointer;
        color: #F2F0D5;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        transition: all 0.5s ease;
        width: 100%;
        border: 1px dashed #F2F0D5;
        overflow: hidden;
        margin: 15px 0 0 0;
        &:hover{
          font-weight: 700;
          font-size: 30px;
          transition: all 0.5s ease;
        }
      }
    }
  }
}

