@import "./src/index";
.input{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: $font-size;
  font-weight: 400;
  margin: 15px 0 0 0;
  color: $color2;
  background: $background;
  border: 1px solid $color3;
  border-radius: 5px;
  &:focus{
    background: $background;
  }
}

.submit{
  margin: 25px 0 0 0;
  height: 50px;
  border-radius: 5px;
  font-size: $font-size;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.5s ease;
  width: 100%;
  border: 1px solid $color3;
  color: $background;
  background: $color2;
  &:hover{
    transition: all 0.5s ease;
    color: $color2;
    background: $background;
    text-shadow: $font-border;

  }
}

.textarea{
  height: 100px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 250px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: $font-size;
  font-weight: 400;
  margin: 15px 0 0 0;
  color: $color2;
  background: $background;
  border: 1px solid $color3;
  padding: 10px 0 0 0;
  border-radius: 5px;
  &:focus{
    background: $background;
  }
}

::placeholder{
  text-transform: uppercase;
  color: $color2;
  font-weight: 700;
  font-size: $font-size;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: $font-border;
}

.selector{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  &-label{
    width: 50%;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    text-shadow: $font-border;
    color: $color2;
    display: flex;
    margin: 15px 0 0 0;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }

  &-select{
    width: 50%;
    height: 50px;
    text-align: center;
    font-size: 25px;
    margin: 15px 0 0 0;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: $color2;
    background: $background;
    border: 1px solid $color3;
    border-radius: 5px;
    text-shadow: $font-border;
    option{
      font-weight: 700;
    }
    &:focus{
      background: $background;
    }
  }
}

.button{
  color: $color3;
  width: 200px;
  height: 30px;
  font-size: $font-size;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 10px;
  font-family: $font;
  font-weight: 700;
  transition: all 0.5s ease;
  border: none;
  text-shadow: $font-border;

  @media (max-width: 520px) {
    margin: 15px 0 0 0;
  }
  &:hover{
    color: $color3;
    font-size: $font-size-hover;
    transition: all 0.5s ease;
  }
}