$background: #33505C;
$color1: #57879C;
$color2: #7BBEDB;
$color3: #82C9E8;
$color4: #6DA9C2;
$font: 'Josefin Sans', sans-serif;
$font-size: 30px;
$font-size-hover: 35px;
$font-border: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
$title-font-size: 60px;

body, html{
  margin: 0;
  padding: 0;
}
*, *:before, *:after{
  box-sizing: border-box;
  font-family: $font;
  font-weight: 100;
  user-select: none;
}

h1,h2,h3,h4,h5,h6,p,ul,li,a{
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html{
  background: $background;
}

.container{
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}